body{
background-color: black !important;
}

#header{
color: white; !important
}

#head{
color: white; !important
}

.text-center{
color: white; !important
}

.text{
color: white; !important
}

#cal{
color: white; !important
}

.frm{
color: white; !important
}
