<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    {% extends 'App2/header.html' %}

    <title>Club Homepage</title>

</head>
<body>

{% block content %}



{% if user.is_authenticated %}

    <div>
        <h1>Welcome, {{ user.first_name }}</h1>

        <p>These are the events your club is participating in :</p>
    </div>

{% else %}
    <form>
	<h1>Sorry! You must be logged in to view the Club Homepage</h1>
	<br/>
	<p>Please <a href="/login">login</a> to access this page.</p>
    </form>
{% endif %}

{% endblock %}

</body>
</html>