<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    {% extends "App2/header.html" %}

    <title>Homepage</title>

</head>

    <body>

    <br/>

    <div class="container">

    {% block content %}

        <main>
            <section id="title">
                    <div class="section-inner">
                        <h1>FRIDAY CLUBS</h1>
                    </div>
            </section>
            <section id="about">
                <div class="section-inner">
                    <h2>About</h2>
                    <p>This software system will be a Club Management System for a college with multiple clubs which the students can join and take part in multiple events</p>



                </div>

            </section>
        </main>

    {% endblock %}
    </div>

    </body>

</html>



